// 天气
#weather-wrapper {
  position: fixed;
  top: 0;
  right: 10px;
  width: 150px;
  z-index: 2;
  .s-sticker-cond {
    img {
      max-width: max-content;
    }
  }
  #weather-view-he {
    height: auto !important;
  }
}